body{
    background-color: #000;
    font-family: Helvetica;
    color: #fff5ee;
    text-align: center;
    opacity: 0.9;
}

#navbar{
    height: 69px;
    border-bottom: 1px solid seashell;
    display: inline-flex;
    min-width: 100%;
}

#navbar p{
    text-decoration: underline;
    justify-content: flex-end;
    margin-left: 10px;
    font-size: 18px;
}

#navbar img{
    margin-right: auto;
    height: 50px;
    text-align: left;
}


#our_mission{
    text-align: center;
    height: 700px;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
    background-repeat: no-repeat;
    display: flex;
    background-position: center;
    align-items: center;   
}


#our_mission .center_container{
    background-color: #000;
    width: 1200px;
    min-height: 50px;
    max-height: 500px;
    vertical-align: center;
    flex-grow: 2;
}

#our_mission .center_text_container{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

#our_mission .center_container h4{
    margin-left: 10px;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 15px
}

#our_mission .center_text_title{
    margin-top: 5px;
    margin-bottom: 10px;
    display: block;
}

#totm_images{
    display: inline-flex;
    max-width: 80%;
    min-width: 500px;
    flex-wrap: wrap;
    justify-content: center;
}

#totm img{
    height: 200px;
    width: 300px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: 25px;
}

#totm figcaption{
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

#totm .heading{
    text-align: center;
}




 

